html, body {
	height:     100%;
	min-height: 100%;
	width:      100%;
	}

body {
	font-family:      arial, sans-serif;
	font-size:        13px;
	color:            #333;
	font-weight:      normal;
	margin:           0;
	background-color: #E8E8E8;
	}

body > .wrapper {
	width:            950px;
	margin:           0 auto;
	padding:          50px;
	background-color: white;
	min-height:       calc(100% - 100px);
	}

a {
	color:           #39c;
	text-decoration: none;
	}

small {
	font-size:   85%;
	font-weight: bold;
	margin-top: -20px;
	display: block;
	}

/* font-weight:bold; */
@media screen and (min-width: 736px) {
.sidebar {
	width:    270px;
	height:   100%;
	position: fixed;
	}

.footer {
	position:   fixed;
	bottom:     0;
	text-align: center;
	width:      270px;
	}

.sidebar.left {
	float:         left;
	margin-left:   -30px;
	padding-right: 5px;
	}

.sidebar.right {
	float:        right;
	margin-right: -30px;
	padding-left: 5px;
	}

.sidebar .nav {
	padding-bottom: 20px;
	}
}
.front-title, .article-title, .page-title {
	color:           #39c;
	font-weight:     400;
	text-decoration: none;
	font-size:       26px;
	margin-bottom:   10px;
	padding-bottom:  0;
	float: left;
	max-width: 520px;
	display: block;
	overflow: hidden;
	}
.front-subtitle {
	font-size: 16px;
	color: #A99898;
}

.taglist {
	font-size:   85%;
	font-weight: bold;
	margin-top: -20px;
	display: block;
}

.tag:after {
	 content: ','
}

.tag:last-child:after {
	 content: ''
}

ul.menu {
	list-style: none outside none;
	padding:    0;
	margin:     0;
	/*	border-left:  1px #39c dashed;
		border-right: 1px #39c dashed;*/
	width:      100%;
	display:    block;
	}

ul.menu > li {
	height:      30px;
	line-height: 30px;
	padding:     10px;
	text-align:  center;
	transition:  all 0.27s linear;
	background:  transparent;
	position:    relative;
	overflow:    hidden;
	}

ul.menu li:hover .ripple {
	-webkit-animation: ripple 0.35s linear;
	animation:         ripple 0.35s linear;
	opacity:          1;
	}

ul.menu > li a {
	font-size:   16px;
	font-weight: bold;
	height:      30px;
	width:       100%;
	position:    relative;
	}

.header {
	margin-top: -30px;
	height:     270px;
	}

.header .logo {
	background:          url('/theme/images/icon.png');
	background-size:     200px 200px;
	background-repeat:   no-repeat;
	background-origin:   padding-box;
	background-position: center;
	height:              200px;
	transition:all 0.5s linear;
	/*width: 100%;*/
	}
.header:hover  .logo {
	transform:scale(1.05,1.05);
	}
.header .title {
	color:          #39c;
	font-size:      28px;
	margin-top:     -10px;
	padding-bottom: 10px;
	text-align:     center;
	}

.header .subtitle {
	color:          #39c;
	padding-bottom: 10px;
	text-align:     center;
	}


.content {
	width: 680px;
	}

.content > .wrapper {
	padding-right: 20px;
	padding-left:  20px;
	float:         none;
	}

.content.from_right {
	float:        left;
	border-right: #39c 1px dashed;
	}

.content.from_left {
	float:       right;
	border-left: #39c 1px dashed;
	}
.main-article {
    margin: 0 0 0 15px;
    transition: all 0.3s linear;
    padding: 0 0px 24px 15px;
}
.main-article:hover {

	}
.main-page {
	margin:0 15px 0 0;
	transition:all 0.3s linear;
	padding:0 15px 25px;
	}
.main-page:hover {

	}
/* tools */
.clearfix {
	clear:both;
	}
.clearfix:after, .clearfix:before {
	content: " ";
	display: table
	}

.clearfix:after {
	clear: both;
	}

/* Social Icons */
.social a[href*='about.me'] {
	background-image: url('../images/icons/aboutme.png');
	}

.social a[href*='bitbucket.org'] {
	background-image: url('../images/icons/bitbucket.png');
	}

.social a[href*='delicious.com'] {
	background-image: url('../images/icons/delicious.png');
	}

.social a[href*='digg.com'] {
	background-image: url('../images/icons/digg.png');
	}

.social a[href*='facebook.com'] {
	background-image: url('../images/icons/facebook.png');
	}

.social a[href*='gitorious.org'] {
	background-image: url('../images/icons/gitorious.png');
	}

.social a[href*='github.com'],
.social a[href*='git.io'] {
	background-image: url('../images/icons/github.png');
	}

.social a[href*='gittip.com'] {
	background-image: url('../images/icons/gittip.png');
	}

.social a[href*='plus.google.com'] {
	background-image: url('../images/icons/google-plus.png');
	}

.social a[href*='google.com/\+'] {
	background-image: url('../images/icons/google-plus.png');
	}

.social a[href*='groups.google.com'] {
	background-image: url('../images/icons/google-groups.png');
	}

.social a[href*='news.ycombinator.com'],
.social a[href*='hackernewsers.com'] {
	background-image: url('../images/icons/hackernews.png');
	}

.social a[href*='last.fm'], .social a[href*='lastfm.'] {
	background-image: url('../images/icons/lastfm.png');
	}

.social a[href*='linkedin.com'] {
	background-image: url('../images/icons/linkedin.png');
	}

.social a[href*='reddit.com'] {
	background-image: url('../images/icons/reddit.png');
	}

.social a[type$='atom+xml'], .social a[type$='rss+xml'] {
	background-image: url('../images/icons/rss.png');
	}

.social a[href*='slideshare.net'] {
	background-image: url('../images/icons/slideshare.png');
	}

.social a[href*='speakerdeck.com'] {
	background-image: url('../images/icons/speakerdeck.png');
	}

.social a[href*='twitter.com'] {
	background-image: url('../images/icons/twitter.png');
	}

.social a[href*='vimeo.com'] {
	background-image: url('../images/icons/vimeo.png');
	}

.social a[href*='youtube.com'] {
	background-image: url('../images/icons/youtube.png');
	}

/* RIPPLE */
.ripple {
	display:           block;
	position:          absolute;
	background:        rgba(0, 0, 0, .1);
	/*border-radius:     50%;*/
	/*-webkit-transform: scale(0);
	transform:         scale(0);*/
	transform: translateX(-300px);
	opacity:           0;

	top:               0;
	left:              0;
	right:             0;
	bottom:            0;
	}

@-webkit-keyframes ripple {
	100% {
		opacity:           0;
		/*-webkit-transform: scale(2.5);
		transform:         scale(2.5);*/
		transform: translateX(400px);
		}
	}

@keyframes ripple {
	100% {
		opacity:           0;
		/*-webkit-transform: scale(2.5);
		transform:         scale(2.5);*/
		transform: translateX(400px);
		}
	}

/* PAGE INFO */
.pub-date {
	line-height: 24px;
	font-size: 12px;
	float: right;
}

.pub-date>.published {
	background-image: url('../images/publish.png');
	background-position: right;
	background-repeat: no-repeat;
    padding-right: 16px;
    background-size: 14px;
	color: #39c;
	border-bottom: 0px;
}

.pub-date >.modified {
	background-image: url('../images/edit.png');
	background-position: right;
	background-repeat: no-repeat;
    padding-right: 16px;
    background-size: 14px;
	color: #EC1F1F;
	border-bottom: 0px;
}

@media screen and (max-width: 736px) {
	body > .wrapper {
		width:            auto;
		margin:           0 auto;
		padding: 50px 20px;
		background-color: white;
		min-height:       calc(100% - 100px);
		}
	ul.menu {
		list-style-type: none;
		list-style-position: none;
		text-align: center;
		padding:    0;
		margin:     0;
		/*	border-left:  1px #39c dashed;
			border-right: 1px #39c dashed;*/
		width:      100%;
		display:    block;
		}

	ul.menu > li {
		height:      30px;
		line-height: 30px;
		padding:     10px;
		float: left;
		transition:  all 0.27s linear;
		background:  transparent;
		overflow:    hidden;
		width: auto;
		}
	.content {
		width: 100%;
	}
	.content > .wrapper {
		padding-right: 10px;
		padding-left:  10px;
		float:         none;
		}

	.content.from_right, .content.from_left {
		border: 0px;
		float: none;
		}

	.main-article, .main-page{
		margin:0 5px 0 0;
		transition:all 0.3s linear;
		padding:0 5px 15px;
		}

	.footer, .pub-date {
	    display: none;
	}


}
